<div>
    <p style="margin-bottom: 20px;">Hi <%= user.first_name %>,</p>
    <div>
        Click on the <a href="https://food-rev.netlify.app/admin/reset/<%= user.password_reset %>">link</a> to reset password.
    </div>
</div>